# Ignorer les dépendances Node
/node_modules
/frontend/node_modules

# Ignorer les dossiers de build React
/frontend/dist

# Ignorer les dépendances PHP
/vendor

# Ignorer les fichiers d'environnement Laravel
.env
.env.local

# Ignorer les dossiers de stockage et de cache Laravel
/storage/*.key
/public/hot
/public/storage
/bootstrap/cache/*.php
/vendor
/storage
/public/build

# Ignorer les fichiers de logs
/*.log

# Ignorer les fichiers Docker locaux
.docker/*